{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools %}
{% if show_batch_monitor %}
<ul class="object-tools">
    <li>
        <a href="{% url 'admin:profiles_transaction_batch_monitor' %}" class="addlink">
            {% translate "Batch Monitor" %}
        </a>
    </li>
    {% if has_add_permission %}
    <li>
        {% url cl.opts|admin_urlname:'add' as add_url %}
        <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
            {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
        </a>
    </li>
    {% endif %}
</ul>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}